body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #000000, #1c1c1c);
}

/* BUTTONS */
.mood-buttons {
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    background: #e50914;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff1e2d;
    transform: scale(1.1);
}

/* GRID */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* MOVIE CARD */
.movie-card {
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.1);
}

/* IMAGE */
.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* TITLE */
.movie-card h3 {
    padding: 10px;
    font-size: 14px;
}
